<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Prototype</title>

    <!-- Conectar o CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <nav class="navbar">
    <a href="inicio.html" class="logo">Higia Analytics</a>

    <ul class="nav-links">
        <li><a href="dashboard.html" data-page="inicio">Dashboard</a></li>
        <li><a href="conversao.html" data-page="conversao">Conversão DBC</a></li>
        <li><a href="sobre.html" data-page="sobre">Sobre</a></li>
    </ul>
</nav>


</body>
</html>
